apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/dataplane


patches:
  - target:
      group: nmstate.io
      version: v1
      kind: NodeNetworkConfigurationPolicy
      name: osp-multi-nic-worker-ocp4-acm1
    patch: |-
      - op: replace
        path: /metadata/name
        value: "osp-multi-nic-worker-ocp4-acm1"
      - op: replace
        path: /spec/nodeSelector/kubernetes.io~1hostname
        value: "acm1.ocp4.ocp.lan"
      - op: replace
        path: /spec/desiredState/interfaces/3/ipv4/address/0/ip
        value: "172.21.0.10"

  - target:
      group: nmstate.io
      version: v1
      kind: NodeNetworkConfigurationPolicy
      name: osp-multi-nic-worker-ocp4-acm2
    patch: |-
      - op: replace
        path: /metadata/name
        value: "osp-multi-nic-worker-ocp4-acm2"
      - op: replace
        path: /spec/nodeSelector/kubernetes.io~1hostname
        value: "acm2.ocp4.ocp.lan"
      - op: replace
        path: /spec/desiredState/interfaces/3/ipv4/address/0/ip
        value: "172.21.0.11"

  - target:
      group: nmstate.io
      version: v1
      kind: NodeNetworkConfigurationPolicy
      name: osp-multi-nic-worker-ocp4-acm3
    patch: |-
      - op: replace
        path: /metadata/name
        value: "osp-multi-nic-worker-ocp4-acm3"
      - op: replace
        path: /spec/nodeSelector/kubernetes.io~1hostname
        value: "acm3.ocp4.ocp.lan"
      - op: replace
        path: /spec/desiredState/interfaces/3/ipv4/address/0/ip
        value: "172.21.0.12"

  - target:
      kind: NetConfig
      name: openstacknetconfig
    patch: |-
      - op: replace
        path: /spec/networks/0/dnsDomain
        value: ctlplane.openstack.svc.cluster.local
      - op: replace
        path: /spec/networks/1/dnsDomain
        value: internalapi.openstack.svc.cluster.local
      - op: replace
        path: /spec/networks/2/dnsDomain
        value: tenant.openstack.svc.cluster.local
      - op: replace
        path: /spec/networks/3/dnsDomain
        value: storage.openstack.svc.cluster.local
      - op: replace
        path: /spec/networks/4/dnsDomain
        value: external.openstack.svc.cluster.local